@charset "UTF-8";
/* UTF-8 before doing anything */

/**
 * ROCSSTI : a CSS base by Nicolas Hoffmann http://rocssti.nicolas-hoffmann.net/
 * inspired by http://www.knacss.com/
 *
 * ROCSSTI is under CC-BY licence : http://creativecommons.org/licenses/by/3.0/
 *
 * this CSS is provided "as is", without any warranty of any type,
 * author can't be responsible of anything you might do with RÖCSSTI
 * 
 * summary
 * 01 -- reset
 * 02 -- webfonts + Hx structure
 * 03 -- useful classes (utils) + typo fix + styles for "fixed tags"
 * 04 -- links + icons
 * 05 -- layout & modules
 * 06 -- structure (page / menuaccess / header / main content / footer)
 * 07 -- forms
 * 08 -- inside content
 * 09 -- minor breakpoints between desktop and tablets
 * 10 -- tablets - major breakpoint
 * 11 -- minor breakpoints between tablets and mobile
 * 12 -- mobile - major breakpoint
 * 13 -- minor breakpoints for very small mobiles
 * 14 -- print
 * 15 -- fix viewport 
 * 16 -- bonus : Fixes IE
 */




/*
 *****************************************************************
 * 1 -- reset
 *****************************************************************
 */

/* for HTML 5 */
article, aside, audio, canvas, datagrid, datalist, details, dialog, figure, footer, header, main, menu, nav, section, video { display: block; }
abbr, eventsource, mark, meter, time, progress, output, bb { display: inline; }

/* reset minimum */
html, body, blockquote, ul, ol, form { margin: 0; padding: 0; }
p { margin: 0 0 1em; }
ul, ol { padding-left: 2em; }


/* base font size at 10px */
html { font-size: 62.5%; }
body {
  background: #fff;
  color: #333;
  font-family: Arial, helvetica, sans-serif;
  font-size: 1.4em; /* font-size equiv to 14px */
  line-height: 1.5; /* to update if needed */
}




/*
 *****************************************************************
 * 02 -- webfonts + Hx structure 
 *****************************************************************
 */ 

@font-face {

}

/* calculated by http://soqr.fr/vertical-rhythm/ thanks @goetter & @eQRoeil */

h1,
.h1 {
  font-size:  1.8571em; /* equiv 26px */
  line-height: 1.6154em;
  margin: 1.6154em 0 .8077em 0;
}
h2,
.h2 {
  font-size: 1.7143em; /* equiv 24px */
  line-height: 1.75em;
  margin: 1.75em 0 .875em 0;
}
h3,
.h3 {
  font-size: 1.5714em; /* equiv 22px */
  line-height: 1.909em;
  margin: 1.909em 0 .9545em 0;
}
h4,
.h4 {
  font-size: 1.4286em; /* equiv 20px */
  line-height: 1.05em;
  margin: 2.1em 0 1.05em 0;
}
h5,
.h5 {
  font-size: 1.2857em; /* equiv 18px */
  line-height: 1.1667em;
  margin: 2.3334em 0 1.1667em 0;
}
h6,
.h6 {
  font-size: 1.1429em; /* equiv 16px */
  line-height: 1.3125em;
  margin: 2.625em 0 1.3125em 0;
}

.uppercase {
  text-transform: uppercase;
}

/*  other useful classes */
.smaller {
  font-size: .7143em; /* equiv 10px */
  line-height: 2.1em;
  margin: 2.1em 0;
}
.small {
  font-size: .8571em; /* equiv 12px */
  line-height: 1.75em;
  margin: 1.75em 0;
}
.smallest {
	font-size: .6em; /* equiv 12px */
	line-height: 1.75em;
	margin: 1.75em 0;
}
.big {
  font-size: 1.1429em; /* equiv 16px */
  line-height: 1.3125em;
  margin: 1.3125em 0;
}
.bigger {
  font-size: 1.2857em; /* equiv 18px */
  line-height: 1.1667em;
  margin: 1.1667em 0;
}
.biggest {
  font-size: 1.4286em; /* equiv 20px */
  line-height: 1.05em;
  margin: 1.05em 0;
}
.superbig {
  font-size: 2.2em; /* equiv 20px */
  line-height: 1.05em;
  margin: 2.75em 0;
}



/*
 *****************************************************************
 * 03 -- useful classes (utils) + typo fix + styles for "fixed tags"
 *****************************************************************
 */

.nomargin    { margin: 0; }
.nomargintop { margin-top: 0; }
.nopadding   { padding: 0; }
.noborder,
iframe { border: 0; }

/* avoid ugly line-height */
sup,
sub {
  vertical-align: 0;
  position: relative;
}
sup {
  bottom: 1ex;
}
sub {
  top: .5ex;
}

/* avoid margin problems */
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}
/* remove bottom margin on last child */
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
blockquote:last-child,
pre:last-child,
table:last-child {
  margin-bottom: 0;
}

/* avoid margin on nested elements */
li p,
li ul {
  margin-bottom: 0;
  margin-top: 0;
}
/* Thou shalt not pass (Moïse or Gandalf, don't remember) */
textarea,
table,
td,
th,
code,
pre,
samp,
div,
p {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
/* remove hyphenation if needed */
.nocut {
  word-wrap: normal;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none;
}

code,
pre,
samp {
  white-space: pre-wrap;
}
code {
  line-height: 1em;
}
kbd {
  border: solid 1px;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  padding: 0 .25em;
}
table {
  margin-bottom: 1.5em;
}
/* important, abbr are good */
/* only those with a title are shown */
abbr[title] {
  border-bottom: dotted 1px; 
  cursor: help;
  /* color inherited from text */
} 

/* text aligns */
.alignright  { text-align: right; }
.aligncenter { text-align: center; }
.alignleft   { text-align: left; }
.aligntop    { vertical-align: top; }
.alignbottom { vertical-align: bottom; }
.alignmiddle { vertical-align: middle; }

.stopPadding {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}


/*
 *****************************************************************
 * 04 -- links + icons
 *****************************************************************
 */

/* links */
a {
  color: #2573be;
  cursor: pointer;
}
/* remember focus */
a:hover,
a:active,
a:focus {
  /*color: #000;*/
}
/* avoid border on images in links + fix border image IE */
a:link img,
a:visited img, 
img {
  border-style: none;
}

/* links with icons, may use DATA-URI */

/* external links */
a[href^="http://"],
a[href^="https://"] {

}
/* if full URL of the website in an internal link, remove icon */
a[href^="http://www.mydomaine.com"] {

}
/* contact, mailto links */
.mail,
a[href^="mailto:"] {

}
/* if URL ends with .pdf or whatever */
a[href$=".pdf"] {

}




/*
 *****************************************************************
 * 05 -- layout & modules
 *****************************************************************
 */

/* it depends, it exceeds (french joke) */
img,
table,
td,
blockquote,
code,
pre,
textarea,
input {
  height: auto;
  max-width: 100%;
}
/* no reset on embed, object & video, some players don't like */

/* useful to manage floats */
/* containing floats */
.mod {
  overflow: auto;
}

/* some floattings */
.left {
  float: left;
}
.right {
  float: right;
}

/* clear floats */
.clear {
  clear: both;
}
.clearleft {
  clear: left;
}
.clearright {
  clear: right;
}
.clearhidden {
  clear: both;
  margin: 0;
  padding: 0;
  visibility: hidden;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* gut : "spacing" empty div */
.gut {
  height: 1px;
}

/* table-design in CSS */
.row {
  display: table;
  table-layout: fixed;
}

.tablerow {
	display: table-row;
}
.tablecol {
	display: table-cell;
	vertical-align: top;
}

.col {
  display: block;
}
@media (min-width:40em) {
	.col {
	  display: table-cell;
	  vertical-align: top;
	  *display: inline-block;
	  *display: inline;
	  zoom: 1;
	}
}

@media (min-width:50em) {
	.col50 {
	  display: table-cell;
	  vertical-align: top;
	  *display: inline-block;
	  *display: inline;
	  zoom: 1;
	}
}

/* centered block */
.margesauto {
  margin-left: auto;
  margin-right: auto;
}


/* block widths */
.w1   { width: 1%; }
.w2   { width: 2%; }
.w3   { width: 3%; }
.w5   { width: 5%; }
.w10  { width: 10%; }
.w20  { width: 20%; }
.w25  { width: 25%; }
.w30  { width: 30%; }
.w33  { width: 33%; }
.w40  { width: 40%; }
.w45  { width: 45%; }
.w49  { width: 49%; }
.w50  { width: 50%; }
.w60  { width: 60%; }
.w66  { width: 66.666%; }
.w70  { width: 70%; }
.w75  { width: 75%; }
.w80  { width: 80%; }
.w90  { width: 90%; }
.w100 { width: 100%; }

.col.w1,
.col.w2,
.col.w3, 
.col.w5,
.col.w10,
.col.w20,
.col.w25,
.col.w30,
.col.w33,
.col.w40,
.col.w45,
.col.w49,
.col.w50,
.col.w60,
.col.w66,
.col.w70,
.col.w75,
.col.w80,
.col.w90,
.col.w100 {
	width: auto;
}

@media (min-width:40em) {
	.col.w1   { width: 1%; }
	.col.w2   { width: 2%; }
	.col.w3   { width: 3%; }
	.col.w5   { width: 5%; }
	.col.w10  { width: 10%; }
	.col.w20  { width: 20%; }
	.col.w25  { width: 25%; }
	.col.w30  { width: 30%; }
	.col.w33  { width: 33%; }
	.col.w40  { width: 40%; }
	.col.w45  { width: 45%; }
	.col.w49  { width: 49%; }
	.col.w50  { width: 50%; }
	.col.w60  { width: 60%; }
	.col.w66  { width: 66.666%; }
	.col.w70  { width: 70%; }
	.col.w75  { width: 75%; }
	.col.w80  { width: 80%; }
	.col.w90  { width: 90%; }
	.col.w100 { width: 100%; }
	
	/* block margins */
	.m33 { margin-left: 33.333%; }
	.m66 { margin-left: 66.666%; }
}

/* here you may add pixel widths */
.w500p { width: 500px; }

/* here you may add pixel max-widths */
.mw960p { max-width: 960px; }

/* max-widths in em */
.mw70em { max-width: 70em; position:relative; }
.mw50em { max-width: 50em; position:relative; }
.mw40em { max-width: 40em; position:relative; }

/* margins */
.mt0-5 { margin-top: 0.5em; }
.mt1 { margin-top: 1em; }
.mt2 { margin-top: 2em; }
.mr1 { margin-right: 1em; }
.mr2 { margin-right: 2em; }
.mb1 { margin-bottom: 1em; }
.mb2 { margin-bottom: 2em; }
.mb3 { margin-bottom: 3em; }
.mb4 { margin-bottom: 4em; }
.ml1 { margin-left: 1em; }
.ml2 { margin-left: 2em; }
.m1  { margin: 1em; }
.m2  { margin: 2em; }

/* paddings */
.pt0-5 { padding-top: 0.5em; }
.pt1 { padding-top: 1em; }
.pt2 { padding-top: 2em; }
.pt3 { padding-top: 3em; }
.pt4 { padding-top: 4em; }
.pt5 { padding-top: 5em; }
.pt6 { padding-top: 6em; }
.pt7 { padding-top: 7em; }
.pt8 { padding-top: 8em; }
.pt9 { padding-top: 9em; }
.pt10 { padding-top: 10em; }
.pt15 { padding-top: 15em; }


.pr0-5 { padding-right: 0.5em; }
.pr1 { padding-right: 1em; }
.pr2 { padding-right: 2em; }

.pb0-5 { padding-bottom: 0.5em; }
.pb1 { padding-bottom: 1em; }
.pb2 { padding-bottom: 2em; }
.pb3 { padding-bottom: 3em; }
.pb4 { padding-bottom: 4em; }
.pb5 { padding-bottom: 5em; }
.pb6 { padding-bottom: 6em; }
.pb7 { padding-bottom: 7em; }
.pb8 { padding-bottom: 8em; }
.pb9 { padding-bottom: 9em; }
.pb10 { padding-bottom: 10em; }
.pb15 { padding-bottom: 15em; }


.pl0-5 { padding-left: 0.5em; }
.pl1 { padding-left: 1em; }
.pl2 { padding-left: 2em; }
.pl3 { padding-left: 3em; }
.p1  { padding: 1em; }
.p2  { padding: 2em; }
.p0-5 { padding: 0.5em; }

/* for 1px-high hr */
hr {
  background-color: #000;
  border: 0;
  color: #000;
  height: 1px;
  margin: 0 0 1em;
  padding: 0;
}

/* to hide text with accessibility… a11y */
.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hidden    { display: none; } /* hidden everywhere */
.nodesktop { display: none; } /* hidden on desktop */
.noprint   {} /* hidden on print */
.notablet  {} /* hidden on tablets */
.nomobile  {} /* hidden on mobile */




/*
 *****************************************************************
 * 06 -- structure (page / menuaccess / header / main content / footer)
 *****************************************************************
 */

/* === page === */
#page {
  margin: 0 auto;
  position: relative;
  width: 960px;
}

/* --- menuaccess = skip links --- */
#menuaccess {

}
/* they should be visible not only on focus */
#menuaccess a {

}
/* anyway remember making them visible on focus */
#menuaccess a:hover,
#menuaccess a:active,
#menuaccess a:focus {

}



/* --- header --- */
#header {

}
#logo {

}
#navigation {

}


/* --- main content --- */
#main {

}


/* --- footer --- */
#footer {

}

/* in french : Réseaux Sociaux À La Con : Stupid Sharing Buttons… often in footer */
.rsalc {

}




/*
 *****************************************************************
 * 07 -- forms
 *****************************************************************
 */

/* makes you want to click on */
label,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  cursor: pointer;
}

/* avoid dummy resize */
textarea {
  resize: vertical;
}

label,
button,
input,
select {
  vertical-align: middle;
}

/* to adapt to your design */
input,
select,
textarea {
  border: 0;
  border-radius: 5px;
  width: 100%;
  padding: 0.75em;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/* to adapt to your design */
.button {
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px #ddd;
  box-shadow: 1px 1px 1px #ddd;
  color: #000;
}

/*
* avoids dimensioning for radio, checkboxes and images
* and a different display on IE
*/
input[type="radio"],
input[type="checkbox"],
input[type="image"] {
  background-color: none;
  border: 0;
  width: auto;
}

/* to cancel input sizing or other if needed */
.auto {
  width: auto;
}

/* error or confirmation messages */
.alert,
.alert input,
.alert textarea,
.alert select {
  color: #bf0000;
  font-weight: bold;
}
/* .redborder is only used to debug */
.alert input,
.alert textarea,
.alert select,
.redborder {
  border: 1px solid #bf0000;
}
.alert img {
  border: 0;
}
.ok {

}

/* can be completed with HTML5 required attribute
* example with a color, remember not only displaying information with it
*/
select:required:invalid,
input:required:invalid,
input:focus:invalid,
textarea:required:invalid,
textarea:focus:invalid {
  background: #fef6f6;
  -moz-box-shadow: none;
}

input:focus:required:valid,
textarea:focus:required:valid,
select:focus:required:valid {
  background: #efe;
  -moz-box-shadow: none;
}





/*
 *****************************************************************
 * 08 -- inside content (other styles for pages)
 *****************************************************************
 */

/* home */





/*
 *****************************************************************
 * 09 -- minor breakpoints between desktop and tablets
 *****************************************************************
 */





/*
 *****************************************************************
 * 10 -- tablets - major breakpoint
 *****************************************************************
 */ 

@media (max-width: 50em) {
   
  /* display elements */
  .nodesktop { display: block; }

  /* hide unnecessary elements */
  .notablet { display: none; }
  
  /* linearization of floating content */
  .autotablet {
    float: none;
    display: block;
    width: auto;
  }

  /**
   * global structure adaptation (page / menuaccess / header / main content / footer)
   */
  
  
  /**
   * inside content (other styles for pages)
   */

}




/*
 *****************************************************************
 * 11 -- minor breakpoints between tablets and mobile
 *****************************************************************
 */







/*
 *****************************************************************
 * 12 -- mobile - major breakpoint
 *****************************************************************
 */

@media (max-width: 40em) {

  /* display elements */
  .notablet { display: block; }

  /* hide unnecessary elements */
  .nomobile { display: none; }

  /* linearization of floating content */
  .automobile {
    float: none;
    display: block;
    width: auto;
  }

  /**
   * global structure adaptation (page / menuaccess / header / main content / footer)
   */
  
  
  /**
   * inside content (other styles for pages)
   */

}




/*
 *****************************************************************
 * 13 -- minor breakpoints for very small mobiles
 *****************************************************************
 */





/*
 *****************************************************************
 * 14 -- print
 *****************************************************************
 */

@media print {

  /*
   * add in this all elements which need to be hardly reseted for print
   */
  body,
  html,
  #page {
    background-color: #fff;
    background-image: none;
    border: 0;
    box-shadow: none;
    color: #000;
    float: none;
    height: auto;
    min-height: auto;
    margin: 0;
    padding: 0;
    position: static;
    width: auto;
  }

  body {
    padding: .5em;
  }

  /* hide unnecessary elements */
  .noprint {
    display: none;
  }
  
  /* display specific elements for print */
  .onprint {
    display: block;
  }
  
  /* avoid problematic page break */
  blockquote, ul, ol {
    page-break-inside: avoid;
  }
  h1, h2, h3, caption {
    page-break-after: avoid;
  }
  
  /* display links, except for those containing images */
  /* warning, remember checking the result & think to limitate
   * this option only for inside content links */
  a:after {
    content: " (" attr(href) ") ";
  }
  a:after img {
    content: "";
  }

  /* fix particular properties */


} /* end print */




/*
 *****************************************************************
 * 15 -- fix viewport
 *****************************************************************
 */

/* fix viewport for Win8 (snap mode) and preparing day
 * when viewport will be supported by all render engines
 *
 * Examples : http://dev.opera.com/articles/view/an-introduction-to-meta-viewport-and-viewport/
 * width=device-width => width: device-width;
 * height=device-height => height: device-height;
 * initial-scale=2 => zoom: 2;
 * maximum-scale=2 => max-zoom: 2;
 * minimum-scale=0.5 => min-zoom: 0.5;
 * user-scalable=no => user-zoom: fixed;
 *
 * for Win8 snap mode => only width: device-width; works for the moment
 */

@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}




/*
 *****************************************************************
 * 16 -- Bonus: Fixes IE
 *****************************************************************
 */

/*
 * based on conditional classes on HTML element
 *
 * to be used only if there are not to many fixes &
 * small impact on webperfs for other browsers
 *
 */

/* less than IE 9 */
.oldies .nooldies {
  display: none;
}

.ie6 .noie6 {
  display: none;
}
.ie7 .noie7 {
  display: none;
}
.ie8 .noie8 {
  display: none;
}
.ie9 .noie9 {
  display: none;
}

.ie7 .col, 
.ie6 .col {
  float: left;
}
.ie7 .row,
.ie6 .row {
  overflow: auto;
}
