/************************************************************
						2. FONTS
***********************************************************/

.headline {
	font-family: 'Droid Serif',sans-serif;
    margin: 0;
}

.modernType {
	font-family: Arial, sans-serif;
	margin: 0;
}

.inline { display: inline; }
.inlineblock { 
	display: inline-block;
}
.block { display:block; }

.cursor { cursor: pointer; }

.steelblue 	{ color: steelblue; }
.skyblue 	{ color: skyblue; }
.white 		{ color: white; }
.black 		{ color: black; }

.bg-black { background: black; }
.bg-steelblue { background: steelblue; }

.nounderline { text-decoration: none; }

body { 
	min-width:22em;
}

.section {
	position: relative;
}

.bg {
	bottom: -1px;
    left: 0;
    position: absolute;
    right: 0;
    top: -1px;
}

.content {
	z-index: 1;
}

img { display: block; }

img.aligncenter { margin: 0 auto; }

.block { display: block; }

h1, h2, h3, h4 {
	/*font-family: 'CodeProDemo', Arial, Helvetica, sans-serif; */
	font-weight: normal;
}

img.circle {
	border: 0.1em solid gainsboro;
    border-radius: 100em 100em 100em 100em;
}

a.reset {
	text-decoration: none;
}
a.white:hover { color: #d9d9d9; }

/************************************************************
						PLAY BUTTON
***********************************************************/

.playButton {
	cursor: pointer;
}

.playButton:hover {
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.playButton:active {
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.roxxibox_playbox {
	border-top: 1px dotted gray;
}

.roxxibox_playbox>div:hover {
	background: gainsboro;
	cursor: pointer;
}

/*************************************************************
						MENU
**************************************************************/
#dropDownMenu ul { 
	padding: 0; 
	margin: 0; 
}

#dropDownMenu li {
	list-style:none;
	display: inline-block;
	font-weight: bold;
    text-transform: uppercase;
	overflow: hidden;
}

#dropDownMenu li a {
	color: white;
	text-decoration: none;
	padding: 0.35em 1.75em 0 0;
	display: block;
	font-size: 1em;
}
