.school-darkblue 	{ color: #065896; }
.school-bg-darkblue { background: #065896; }

.school-lightblue { color: #56B5FF; }
.school-bg-lightblue { background: #56B5FF; }

.school-blue 		{ color: #4283B4; }
.school-bg-blue 	{ background: #4283B4; }

.school-orange 			{ color: #FF490A; }
.school-bg-orange 		{ background: #FF490A; }

.schoo-green			{ color: #02964F; }
.school-bg-green 		{ background: #02964F; }


.school-wrapper-width 	{ max-width: 80em; position:relative; }

/**************************************
			BOOK FORM
**************************************/

.bookingForm fieldset { border: 0; padding: 0 0 1em 0; }

.bookingForm label { 
	display: block;
	
}

.bookingForm input[type="submit"] {
	padding: 1em;
	width: 100%;
}

.bookingForm .parsley-error-list {
	color: lightblue;
	padding: 0;
	list-style: none;
}